---
http_interactions:
- request:
    method: get
    uri: http://www.watchpeoplecode.com/api/v1/streamers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [\n    {\n      \"name\": \"glitterofhyad\", \n      \"twitch\":
        \"glitterofhyad\", \n      \"youtube\": null\n    }, \n    {\n      \"name\":
        \"Inateno\", \n      \"twitch\": \"inateno\", \n      \"youtube\": null\n
        \   }, \n    {\n      \"name\": \"mrnosuch\", \n      \"twitch\": \"mrnosuch\",
        \n      \"youtube\": null\n    }, \n    {\n      \"name\": \"Hunternif\",
        \n      \"twitch\": \"hunternif\", \n      \"youtube\": null\n    }, \n    {\n
        \     \"name\": \"TouringTest\", \n      \"twitch\": \"gyfsukata\", \n      \"youtube\":
        null\n    }, \n  [...]
