---
http_interactions:
- request:
    method: get
    uri: http://www.watchpeoplecode.com/api/v1/streamers/godlikesme
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": {\n    \"name\": \"godlikesme\", \n    \"twitch\": \"mimimitor_\",
        \n    \"youtube\": \"UCJAVLOqT6Mgn_YD5lAxxkUA\"\n  }, \n  \"info\": {\n    \"status\":
        200\n  }\n}"
  recorded_at: Wed, 22 Jul 2015 22:45:27 GMT
- request:
    method: get
    uri: http://www.watchpeoplecode.com/api/v1/streamers/godlikesme/completed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [\n    {\n      \"actual_start_time\": \"Mon, 15 Jun
        2015 22:21:47 GMT\", \n      \"id\": 106115, \n      \"scheduled_start_time\":
        \"Mon, 15 Jun 2015 17:30:00 GMT\", \n      \"site\": \"youtube_stream\", \n
        \     \"title\": \"(Hopefully) finishing my work on histsync.io 1.0\", \n
        \     \"url\": \"http://www.youtube.com/watch?v=XE0wKCk6czE\", \n      \"user\":
        \"godlikesme\", \n      \"viewers\": null\n    }, \n    {\n      \"actual_start_time\":
        \"Sat, 30 May 2015 18:35:03 GMT\", \n      \"id\": 88790, \n      \"scheduled_start_time\":
        \"Sat, 30 May 2015 19:00:00 GMT\", \n      \"site\": \"youtube_stream\", \n
        \     \"title\": \"Programming Talk Show episode 3: talking to Justin M. Keyes,
        neovim contributor\", \n      \"url\": \"http://www.youtube.com/watch?v=PHppoe4GxF8\",
        \n      \"user\": \"godlikesme\", \n      \"viewers\": null\n    }, \n   [...]
