---
http_interactions:
- request:
    method: get
    uri: http://www.watchpeoplecode.com/api/v1/streams/live
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [\n    {\n      \"actual_start_time\": \"Tue, 21 Jul
        2015 04:10:31 GMT\", \n      \"id\": 106125, \n      \"scheduled_start_time\":
        null, \n      \"site\": \"twitch_stream\", \n      \"title\": \"Node/io.js
        \\u2014 SVG Animation\", \n      \"url\": \"http://www.twitch.tv/humanoidism\",
        \n      \"user\": null, \n      \"viewers\": 10\n    }, \n    {\n      \"actual_start_time\":
        \"Tue, 14 Jul 2015 20:11:55 GMT\", \n      \"id\": 106056, \n      \"scheduled_start_time\":
        null, \n      \"site\": \"twitch_stream\", \n      \"title\": \"Optimalist,
        AngularJS, Ionic w/ Krz\", \n      \"url\": \"http://www.twitch.tv/krzjn\",
        \n      \"user\": null, \n      \"viewers\": 20\n    }, \n    {\n      \"actual_start_time\":
        \"Thu, 02 Jul 2015 14:29:55 GMT\", \n      \"id\": 105967, \n      \"scheduled_start_time\":
        null, \n      \"site\": \"twitch_stream\", \n      \"title\": \"Twitch plays
        Large Scale Deep neural net (shout objects to dream about)\", \n      \"url\":
        \"http://www.twitch.tv/317070\", \n      \"user\": null, \n      \"viewers\":
        31\n    }\n  ], \n  \"info\": {\n    \"status\": 200\n  }\n}"
  recorded_at: Wed, 22 Jul 2015 21:43:11 GMT
recorded_with: VCR 2.9.3
