---
http_interactions:
- request:
    method: get
    uri: http://www.watchpeoplecode.com/api/v1/streamers/godlikesme
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": {\n    \"name\": \"godlikesme\", \n    \"twitch\": \"mimimitor_\",
        \n    \"youtube\": \"UCJAVLOqT6Mgn_YD5lAxxkUA\"\n  }, \n  \"info\": {\n    \"status\":
        200\n  }\n}"
  recorded_at: Wed, 22 Jul 2015 22:41:40 GMT
- request:
    method: get
    uri: http://www.watchpeoplecode.com/api/v1/streamers/godlikesme/live
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [], \n  \"info\": {\n    \"status\": 200\n  }\n}"
  recorded_at: Wed, 22 Jul 2015 22:41:47 GMT
- request:
    method: get
    uri: http://www.watchpeoplecode.com/api/v1/streamers/godlikesme/live
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [], \n  \"info\": {\n    \"status\": 200\n  }\n}"
  recorded_at: Wed, 22 Jul 2015 22:42:26 GMT
recorded_with: VCR 2.9.3
