---
http_interactions:
- request:
    method: get
    uri: http://www.watchpeoplecode.com/api/v1/streams/106101
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": {\n    \"actual_start_time\": \"Sat, 11 Jul 2015 22:32:15
        GMT\", \n    \"id\": 106101, \n    \"scheduled_start_time\": \"Sat, 11 Jul
        2015 19:00:00 GMT\", \n    \"site\": \"youtube_stream\", \n    \"title\":
        \"Making small reddit bots in python using PRAW\", \n    \"url\": \"http://www.youtube.com/watch?v=W6_te6Q_CDs\",
        \n    \"user\": \"godlikesme\", \n    \"viewers\": null\n  }, \n  \"info\":
        {\n    \"status\": 200\n  }\n}"
  recorded_at: Wed, 22 Jul 2015 21:57:23 GMT
recorded_with: VCR 2.9.3
