---
http_interactions:
- request:
    method: get
    uri: http://www.watchpeoplecode.com/api/v1/streams/upcoming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [\n    {\n      \"actual_start_time\": null, \n      \"id\":
        3888, \n      \"scheduled_start_time\": null, \n      \"site\": \"twitch_stream\",
        \n      \"title\": \"C# Design Patterns: Template [Day1 of 2] 6:45pm EST\",
        \n      \"url\": \"http://www.twitch.tv/ariugwu\", \n      \"user\": \"Arinzechukwu\",
        \n      \"viewers\": null\n    }\n  ], \n  \"info\": {\n    \"status\": 200\n
        \ }\n}"
  recorded_at: Wed, 22 Jul 2015 21:48:31 GMT
recorded_with: VCR 2.9.3
